# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
venv/
env/
.venv/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files
/data/

# Logs and build artifacts
*.log
build/
dist/
*.egg-info/


.kaggle/